
/*** GENERAL ***/
body{	
    margin-left: 0px;
	margin-right: 0px;			
	padding-left: 0px;
    padding-right: 0px;
    min-width: 920px;
    font-family: 'Roboto', sans-serif !important;
}

p, div, span, input, button, select, textarea, a, td {
	font-family: 'Roboto', sans-serif !important;
}

.width100{
	width: 100%;
}		

a:hover{
	color:#71C5EF;
}

textarea{
 	resize: none;
    width: 100%;
}

/*** TOP NAV ***/


.navbar-fixed-top{
	margin: 0;
	min-width: 100%;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {		  
	color: #8A8A8A;		
}

#brand{
	font-weight: 700;	
}

.navbar .top-nav-wrapper .container{
	width:100%;	
}


body .navbar .brand {		
	float: left;		  
	margin-right: 20px;		
	color: #FFFFFF;	  
}

.navbar .nav > li > .dropdown > span.dropdown-toggle {  
	color: #FFFFFF;
	display: block;  
	float: none;  
	padding: 10px 15px;  
	text-decoration: none;  
    text-shadow: 0 2px 0 #333333;	
}

.navbar .nav > li > .dropdown > span.dropdown-toggle > .caret{
 	border-top: 4px solid #A4A4A4;
 }
 
 .navbar .nav > li > .dropdown > span.active > .caret{
 	border-top: 4px solid #00FF00;
 }
 
.navbar-inverse .nav .active > a, .navbar .navleft li a.active, .navbar .nav > li > .dropdown > span.active, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus, .navbar .top-nav-wrapper .navleft > li > a:focus, .navbar .top-nav-wrapper .navleft > li > a:hover {		    
	background: none repeat scroll 0 0 transparent;	box-shadow: none;	color: #00FF00;	font-size: 150%;	font-weight: bold;	text-shadow: none;		
 }	
 
 .navbar .navleft > li > a:focus, .navbar .navleft > li > a:hover,  .navbar .nav > li > a:focus, .navbar .nav > li > a:hover {		  
	background-color: #14B770;		  
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125) inset;		  
	color: #FFFFFF;		  
	text-decoration: none;
	border-radius: 5px 5px 5px 5px;		
}

.last-default-nav{
	border-right: 1px #00DC00 solid;	
}

.navbar .navright{
	float:right;	
}

.navbar .navright > li, .navbar .navright > li > a{
	display: inline;	
	color: #FFFFFF;
    text-shadow: 0 2px 0 #333333;
}


/*** TOP SUB NAV ***/	

.top-sub-nav{
	top:40px;
	border-top:1px solid #00FF00; 	
	 z-index: 1000;
}

.top-sub-nav .nav > li.sub-nav-add{
	font-size: 30px;		
}

.top-sub-nav .nav > li.sub-nav-add a:hover{
	color: #00CD00;	
}

.top-sub-nav .navbar-inner{
	border-radius: 0 0 14px 14px;
	border-top:none;	
}

.top-sub-nav .nav > .active > a, .top-sub-nav .nav > .active > a:hover, .top-sub-nav .nav > .active > a:focus {			
	border-radius: 5px 5px 5px 5px;		
}

a.notimplemented{
	opacity: 0.6;
	filter:alpha(opacity=60); /* For IE8 and earlier */	
}

.hero-unit h2, .hero-unit #login-alert{
	text-align:left;	
}

.hero-unit form{
	margin: 30px auto;	
}

/*** SIDE NAV ***/

.bs-docs-sidenav{	
	margin-top: 60px;
}

.icon-chevron-down{
	float: right;			
	margin-right: -6px;			
	margin-top: 2px;			
	opacity: 0.25;	
}

.nav-dropdown-tab{
	border: 1px solid rgb(229, 229, 229); 
	padding: 8px 14px; 
	margin: 0px 0px -1px; 
	height: 200px; 
}

		

/*** MAIN CONTAINER ***/

@media (min-height: 0px) and (max-height: 500px) {
  .main-container {
    min-height: 475px;
  }
}

@media (min-height: 501px) and (max-height: 750px) {
  .main-container {
    min-height: 525px;
  }
}

@media (min-height: 751px) and (max-height: 1000px) {
  .main-container {
    min-height: 675px;
  }
}

@media (min-height: 1001px) and (max-height: 1250px) {
  .main-container {
    min-height: 775px;
  }
}

@media (min-height: 1251px) and (max-height: 1500px) {
  .main-container {
    min-height: 875px;
  }
}

@media (min-height: 1501px) and (max-height: 1750px) {
  .main-container {
    min-height: 975px;
  }
}

@media (min-height: 1751px) and (max-height: 9000px) {
  .main-container {
    min-height: 1075px;
  }
}

.main-container{
	padding: 0 0px;	
	height:100%;	
	margin:20px auto;
	width:100%;
}		

.main-container .page-header{
	padding: 0 20px;	
}

/*** FOOTER ***/

footer{
	width: 100%;
	margin-top: 70px;
   	padding:50px 20px;

	border-top:1px solid #00FF00;
	
	-moz-box-shadow: 0px 1px 5px #888;
	-webkit-box-shadow: 0px 1px 5px #888;
	box-shadow: 0px 1px 5px #888;
	
	background: #777777; /* Old browsers */
	background: -moz-linear-gradient(top,  #777777 0%, #2f2f2f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#777777), color-stop(100%,#2f2f2f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #777777 0%,#2f2f2f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #777777 0%,#2f2f2f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #777777 0%,#2f2f2f 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #777777 0%,#2f2f2f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#777777', endColorstr='#2f2f2f',GradientType=0 ); /* IE6-9 */

}

footer p{
	color: #BABABA;			
	margin-bottom: 0;
}	

/*** CUSTOM ICONS ***/

.icon-bent-arrow-left-up {
    background-position: 0 -166px;
}

.icon-bent-arrow-right-down {
    background-position: -24px -166px;
}

.icon-bent-arrow-left-down {
    background-position: -48px -166px;
}

.icon-bent-arrow-right-up {
    background-position: -72px -166px;
}

.icon-bent-arrow-down-right {
    background-position: -96px -166px;
}

.icon-bent-arrow-down-left {
    background-position: -120px -166px;
}

.icon-bent-arrow-up-right {
    background-position: -144px -166px;
}

.icon-bent-arrow-up-left {
    background-position: -168px -166px;
}

.icon-curve-arrow-up-left {
    background-position: -192px -166px;
}

.icon-curve-arrow-down-left {
    background-position: -216px -166px;
}

.icon-curve-arrow-down-right {
    background-position: -240px -166px;
}

.icon-tree {
    background-position: -264px -166px;
}

.icon-door {
    background-position: -290px -166px;
}

.icon-sub-task {
    background-position: -312px -166px;
}

[class^="minicon-"], [class*=" minicon-"] {    background-image: url("images/Minicons.png");  background-position: 14px 14px;  background-repeat: no-repeat;  display: inline-block;  height: 35px;  line-height: 15px;  margin-top: 1px;  vertical-align: text-top;  width: 40px;}

.minicon-settings{
	background-position: -245px -325px;
}


.minicon-single{
	height: 45px;
    width: 45px;	background-repeat: no-repeat;  	display: inline-block;    line-height: 15px;    margin-top: 1px;    vertical-align: text-top;
}
.settings-minicon{
	background-image: url("images/minicon_settings.png");       
}

/*** EXT CSS OVERRIDE ***/
.x-panel-default, .x-panel .x-grid-body, .x-grid-header-ct {		  border: none;		}

.x-column-header, .x-grid-header-ct {		  background: none;		  border: none;		}

.x-column-header-text{
    vertical-align: bottom;
    font-weight: bold;
    line-height: 20px;
    padding: 0px;
    text-align: left;
    vertical-align: top;
    font-size: 12px;
}

.x-grid-with-row-lines .x-grid-cell-inner {		  line-height: 20px;		}

.x-boundlist-list-ct ul{
	margin: 0 0 10px;	
}

.x-grid-row {
	height: 40px;
	vertical-align: middle;	
}

.x-grid-row .x-grid-cell {		  
	font-size: 12px;		
}

.fadedtext{
	color: #999999;	
}

.x-border-box, .x-border-box * {
		//box-sizing:inherit;
	//-moz-box-sizing:inherit; /* Firefox */
	//-webkit-box-sizing:inherit; /* Safari */
}

.x-form-trigger-wrap .x-form-spinner-up, .x-form-trigger-wrap .x-form-spinner-down {
	position: relative;
	top: -5px;
}

.toolbar{
	background: none repeat scroll 0 0 transparent;			float: right;			left: 80%;			position: absolute;			top: 95px;			width: 175px;
}

.toolbar .x-toolbar-default {
    background-image: none;
    background: none;
}
.toolbar .x-toolbar {
    border: none;
}

.x-mask{
	 display: none !important;
	 height: 100% !important;
	 width: 100% !important;	
}

.x-grid-cell-first > .x-grid-cell-inner, .x-column-header-first > .x-column-header-inner{
	padding-left: 15px;	
}

.x-grid-cell-last  > .x-grid-cell-inner, .x-column-header-last > .x-column-header-inner{
	padding-right:10px;	
}

.tasklink, .tasklink:hover{
	color: inherit;	
}

/*** BOOTSTRAP OVERRIDE ***/	
#tasks.whileLoading{
    visibility: hidden;
    display: block;
}

.nav-tabs{
	border-bottom:none;	
}

.progress{
	margin-bottom: 0;	
}

.hide{
	display: none !important;	
}

/** Add Task **/
.add-task-label{
	color: rgb(102, 102, 102); 
	padding-left: 5px;
}

.add-task-input, #signup input{
	height:30px !important;
}
	
	
	
	


.picture{
	max-width: 300px;
	max-height: 400px;	
}

.outfit{
	overflow:hidden;	
}

.outfit-toolbar-overlay{
	background:RGBa(3,3,3,0.6);	color: #EFEFEF;	display: none;	height: 30px;	position: absolute;	top: 0;	width: 100%;
}		

.outfit-toolbar-close{
	height: 30px;
	width: 30px;	position: absolute;	right: 0;	text-align: center;
}

.outfit-toolbar-close > i{
	cursor:pointer;	
}

.overlay{
	display:none;
	//background:RGBa(3,3,3,0.6);
	color:#FFFFFF;
	///text-shadow: 1px 1px 1px #333333;		
	text-align:center;	
	
}	

.overlay > .bottom, .overlay > .addToClosetForm{
	width:95%;
	position:absolute;
	bottom: 0px;
	min-height: 20%;
	padding:5px;	
}	

.overlay > .addTagForm {  min-height: 25px;  padding: 5px;  position: absolute;  right: 0;  top: 0;  width: 151px;}	

.overlay > .bottom, .overlay > .topright, .overlay > .topleft, .overlay > .addToClosetForm, .overlay > .addTagForm {
	background: RGBa(120,213,167,.65);
	
	
	/* black gradient */
	//background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
	//background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	//background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
	//background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
	//background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
	//background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
	//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
	
	/* green gradient */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
//	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNiYjU4MCIgc3RvcC1vcGFjaXR5PSIwLjI4Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMGJhNmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
//	background: -moz-linear-gradient(top,  rgba(59,181,128,0.28) 0%, rgba(0,186,108,1) 100%); /* FF3.6+ */
//	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(59,181,128,0.28)), color-stop(100%,rgba(0,186,108,1))); /* Chrome,Safari4+ */
//	background: -webkit-linear-gradient(top,  rgba(59,181,128,0.28) 0%,rgba(0,186,108,1) 100%); /* Chrome10+,Safari5.1+ */
//	background: -o-linear-gradient(top,  rgba(59,181,128,0.28) 0%,rgba(0,186,108,1) 100%); /* Opera 11.10+ */
//	background: -ms-linear-gradient(top,  rgba(59,181,128,0.28) 0%,rgba(0,186,108,1) 100%); /* IE10+ */
//	background: linear-gradient(to bottom,  rgba(59,181,128,0.28) 0%,rgba(0,186,108,1) 100%); /* W3C */
//	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#473bb580', endColorstr='#00ba6c',GradientType=0 ); /* IE6-8 */
}

.overlay > .bottom > .name{
	font-size: 12pt;
	margin-bottom: 20px;
	margin-top:5px;
}

.overlay > .bottom > .companyName{
	position:absolute;
	left:10px;
	bottom: 5px;
	font-variant: small-caps;
	font-weight:bold;
}

.overlay > .bottom > .price{
	position:absolute;
	right:10px;
	bottom: 5px;
	font-weight:bold;
}

.overlay > .topright{		
	display: block;	
	height: 25px;	
	padding: 5px;	
	position: absolute;	
	right: 0;	
	top: 0;	
	width: 29px;	
}

.overlay > .topleft {
  display: block;	
	height: 25px;	
	padding: 5px;	
	position: absolute;	
	left: 0;	
	top: 0;	
	width: 29px;
}

.overlay .hanger-icon{
	cursor: pointer;
    height: 25px;
    left: 0px;
    opacity: 0.98;
    position: relative;
}

.overlay .icon-tags{
	cursor: pointer;
    height: 25px;
    left: 0px;
    top: 5px;
    opacity: 0.98;
    position: relative;
}


.overlay > .hanger-icon > img, .overlay > .hanger-icon > i{
	cursor: pointer;
}

.overlay .hanger-plus{
	opacity: 0.8;
    position: absolute;
    right: 1px;
    top: 1px;
    display: none;	
}

.overlay .newCloset{
	margin-left: 10px;
    vertical-align: middle;
    width: 45%;	
}

.overlay .newTag{
    vertical-align: middle;
    width: 100%;	
    height: 25px;
}

.overlay form, .overlay label,.overlay input[type="text"],  .overlay radio:first-child{
	line-height: 18px;	
	margin-bottom: 0px;
	padding-top:0px;
}

#hidden-grid, #filter-grid{
	display:none;	
}

.overlay-toolbar-btn{
	position:absolute;
	top:7px;	
	cursor:pointer;
}

#main-content h2{
	text-align:center;	
}

#product-grid img.shadow{
	box-shadow: 0 2px 9px #E1E1E1;	
}




html,
body {
	margin:0;
	padding:0;
	height:100%;
}

#wrapper {
	min-height:100%;
	position:relative;
	margin: 0px auto 40px; 
	text-align: center;
}

#header {
	padding:10px;
	//background:#5ee;
}

#main-content {
	padding:10px;
	padding-bottom:80px; /* Height of the footer element */
	height: auto !important;
}

#footer {
	width:100%;
	height:80px;
	position:absolute;
	bottom:0;
	left:0;
	background:#ee5;
}

#left-nav{	
	left: 20px;	
	position: absolute;	
	top: 60px;	
	color: #666;
	text-align: left;
}

#left-nav label, #left-nav .controls{
	margin: 0;	
	padding-top: 0;
	padding-bottom: 0;
}

#left-nav h4{
	text-decoration: underline;	
}

#left-nav input{
	margin-right: 10px;
}

#right-nav{	
	right: 20px;	
	position: absolute;	
	top: 60px;	
	color: #666;
	text-align: left;
}

.navbar-inner{
	background: rgb(0,186,108); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYmE2YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzE0YWQ2YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0NmI1ODUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(0,186,108,1) 0%, rgba(20,173,107,1) 50%, rgba(70,181,133,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,186,108,1)), color-stop(50%,rgba(20,173,107,1)), color-stop(100%,rgba(70,181,133,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,186,108,1) 0%,rgba(20,173,107,1) 50%,rgba(70,181,133,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,186,108,1) 0%,rgba(20,173,107,1) 50%,rgba(70,181,133,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,186,108,1) 0%,rgba(20,173,107,1) 50%,rgba(70,181,133,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,186,108,1) 0%,rgba(20,173,107,1) 50%,rgba(70,181,133,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ba6c', endColorstr='#46b585',GradientType=0 ); /* IE6-8 */
}

.navbar .brand {  color: #FFFFFF;  font-size: 28px;  text-shadow: 0 2px 0 #333333;}

#filter-float{
	bottom: 30px;
    box-shadow: 1px 1px 6px #333333;
    display: block;
    height: 100%;
    overflow-y: scroll;
    padding: 0 60px 0 25px;
    position: fixed;
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.91);
}

#filter-float label, #filter-float .controls{
	margin: 0;	
	padding-top: 0;
	padding-bottom: 0;
}

#filter-float h4{
	text-decoration: underline;	
}

footer{
	position:fixed;
	bottom:0;
	height: 30px;
	color: #FFFFFF;
	border-top: none;
    box-shadow: 0 1px 5px #888888;
    margin-top: 0px;
    padding: 0px;
	
	
	background: rgb(0,186,108); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYmE2YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzE0YWQ2YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0NmI1ODUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(0,186,108,1) 0%, rgba(20,173,107,1) 50%, rgba(70,181,133,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,186,108,1)), color-stop(50%,rgba(20,173,107,1)), color-stop(100%,rgba(70,181,133,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,186,108,1) 0%,rgba(20,173,107,1) 50%,rgba(70,181,133,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,186,108,1) 0%,rgba(20,173,107,1) 50%,rgba(70,181,133,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,186,108,1) 0%,rgba(20,173,107,1) 50%,rgba(70,181,133,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,186,108,1) 0%,rgba(20,173,107,1) 50%,rgba(70,181,133,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ba6c', endColorstr='#46b585',GradientType=0 ); /* IE6-8 */
	
}

footer > div > div{
	float:left;
	position:relative;
	left: -50%;
	padding: 5px 10px;
	border-left: 1px solid #009e5c;	
}

footer a{
	color:#FFFFFF;
}

footer a:hover{
	background-color: #14B770;		  	
	color: #FFFFFF;		  
	border-radius: 5px 5px 5px 5px;	
}

footer > #footer-filter{
	cursor: pointer;
    float: left;
    height: 100%;
    padding: 7px 10px;
}

footer > #footer-filter .icon-chevron-down{
	opacity: 1;	
	float: none;
	margin:0;
}
	
footer > .center{
	margin-left:20%;	
}

footer .last{
	border-right: 1px solid #009e5c;	
}

.popover.override{
    left: 5px !important;
    position: fixed;
    //bottom: 30px !important;	
}

.popover.override.top .arrow{
	left: 7%;
}

.navbar .navright > li > .dropdown-menu > li, .navbar .navright > li > .dropdown-menu > li > a{
	text-shadow: none;
}

.navbar .navright .open > .dropdown-menu {  top: 34px;}

.navbar .nav li.dropdown > .dropdown-toggle .caret-white{
	border-bottom-color: #FFFFFF;
    border-top-color: #FFFFFF;
}

#signup{
	margin:50px auto; 
	width:900px	
}

#signup input#remember{
	height: 14px !important;	
}

#signup h1{
	margin-left: 100px;	
}

#user-name{
	font-size: 16px;
    text-shadow: none;
}

#footer-wrapper{
	position: relative; 
	float: left; 
	left: 50%;
}

.pageEndSpacer{
	width:1px;
	height:100px;
	position:absolute;
}

#loadingMainContent > img{
	height: 35px;
	width: 35px;
	position:relative;
	top: 150px;	
}


/* CLOSET PAGE */
h1 #user-closet-title{
	color: #434342;
    text-shadow: 3px 3px 3px #D0D0D0;	
    margin-left: 20px;
}

#closet-list{
	text-align: center;
    width: 100%;
}

#closet-list h1 span{
	color: #6DC1BE;
	text-shadow: 3px 3px 3px #FFFFFF;
	margin: 10px auto;	padding: 5px 20px;
}

#closet-list h1 span.red{
	color: #DEB0A7;	
}

#closet-list h1 span.orange{
	color: #FCBA6D;	
}

#closet-list .outfit{
	float: left;
    margin: 0 10px;	
}

#closet-list:before, #closet-list:after{
	clear:both;
}

#closet-list .items{
	margin:80px	20px 20px;
	width: 99999px;
	position: relative;
}

#closet-list .closet{
	margin: 20px 0px 80px;
}

#closet-list .outfit{
	box-shadow: 0 2px 9px #ADADAD;	
	overflow: visible;
    position: relative;
}

#closet-list img{
	height: 150px;	
}

#closet-list .hanger{
	left: 10px;	position: absolute;	top: -60px;	
}

#closet-list .hanger img{
	height: 65px;
}

#closet-list .carousel{
	 height: 260px;
    margin-bottom: 0px;
    overflow: hidden;
    width: 100%;	
}

#closet-list .carousel .carousel-left,#closet-list .carousel .carousel-right{
	height: 260px;
    top: 0;
    position: absolute;
    width: 7%;
    opacity: 0.5;
    z-index: 1000;    
    background-color: rgba(30, 30, 30, 0.24);
    cursor: pointer;
}

#closet-list .carousel .carousel-left{
    left: 0;
}

#closet-list .carousel .carousel-right{
    right: 0;   
}

#closet-list .carousel-left .left-arrow,#closet-list .carousel-right .right-arrow{
	width: 0;
    height: 0;
    border-bottom: 30px solid transparent;    
    border-top: 30px solid transparent;    
}

#closet-list .carousel-left .left-arrow{
    border-right: 30px solid rgba(255, 255, 255, 0.8);	
    margin: 100px 0 0 15px;
}

#closet-list .carousel-right .right-arrow{
    border-left: 30px solid rgba(255, 255, 255, 0.8);	
    margin: 100px 0 0 25px;
}

#closet-settings .settings-minicon{
	cursor: pointer;
    position: absolute;
    right: 30px;
    top: 60px;	    
    background-image: url("images/minicon_settings.png");
    background-position: 7px 7px;
    background-size: 30px auto;
    border-radius: 6px;
}

#closet-share .share-freeiconsweb{
        cursor: pointer;
    position: absolute;
    right: 80px;
    top: 60px;
    background-image: url("images/link.png");
    background-position: 7px 7px;
    background-size: 30px auto;
    border-radius: 6px;
}

#closet-settings .save-minicon {  background-image: url("images/minicon_floopy.png");  background-position: 12px 12px;  background-size: 20px auto;  border-radius: 6px 6px 6px 6px;  cursor: pointer;  position: absolute;  right: 80px;  top: 60px;}

#closet-settings .settings-minicon:hover, #closet-settings .save-minicon:hover, #closet-share .share-freeiconsweb:hover{
	background-color: #DFDFDF;		
}

#closet-settings .settings-minicon:active, #closet-settings .save-minicon:active, #closet-settings .active, #closet-share .share-freeiconsweb:active{
	background-color: #CFCFCF;		
}

.delete-outfit{
	background: none repeat scroll 0 0 rgba(30, 30, 30, 0.4);
    border-radius: 10px 10px 10px 10px;
    left: 40%;
    padding: 10px;
    position: absolute;
    top: 30%;
    cursor: pointer;
}

.delete-outfit:hover{
	background: none repeat scroll 0 0 rgba(30, 30, 30, 0.6);
}

.delete-outfit:active{
	background: none repeat scroll 0 0 rgba(30, 30, 30, 0.8);
}

input.closetNameInput[type="text"] {  
	border-radius: 8px 8px 8px 8px;  
	font-size: 24px;  
	height: 40px;  
	margin-bottom: 0;  
	vertical-align: top;
}

.ui-autocomplete{
	z-index: 9999;
	opacity: 1;
	border-radius: 0 0 10px 10px;
}
    
    
	
