body{
	margin:0px;
}

#mainContainer{
	height: 100%;
	width: 100%;
	background:#E6E6E6;
	/*background-image: url(Images/blurrycrowd.jpg);*/
	background-repeat: no-repeat;
	
}

#contentContainer{
	position:absolute;
	/*background:grey;*/
	margin:35px 20px 20px;
	width:985px;
	left:75px;
}

#topBanner{
	background:white;
	width:976px;
	height:80px;
	text-align:center;
	margin-top:20px;
	margin-bottom:10px;
	padding-top:1.5em;
	padding-bottom:0em;
	padding-right:0px;
	padding-left:0px;
}

#bannerText{
	font-family: 'Roboto Slab', serif;
	color:grey;
	font-size:1.5em;
	line-height:1.3em;
}

.inputBox{
	margin-left:5px;
	width:220px;
	height:35px;
}
.button{
	background:#009e5c;
	color:white;
	width:150px;
	height:30px;
}

.button:hover{
	background:#008e52;
}

#leftContainer{
	position:absolute;
	/*background:purple;*/
	height:400px;
	width:298px;
}

#join{
	position:absolute;
	background:white;
	margin-top:0px;
	width:233px;
	height:90px;
	padding:2em;
}

#goback{
	position:absolute;
	background:white;
	margin-top:0px;
	width:233px;
	height:302px;
	padding:2em;    
}

h1.waitList{
	margin-top:-16px;
	font-family: 'Roboto', serif;
	font-size:1.3em;
	color:grey;
	text-align:center;
	line-height:1;
}
#joinEmail{
	margin-top:10px;
}

#joinEmail.inputBox{
	height:35px;
	margin-top:0px;
}
#joinButton{
	margin-top:-1px;
	margin-left:45px;
}

.login-form{
	background:white;
	top:27;
	left:0;
	width:233px;
	height:155px;	
	padding: 1em 2em;
}

.signup-form{
	background:white;
	top:27;
	left:0;
	width:233px;
	height:195px;	
	padding: 1em 2em;
	margin-top:20px;
}

#email, #signup-name{
	margin-top:-7px;
}
.inputBox{
	height:35px !important;
	margin-bottom: 5px !important;
}
#inputPassword.inputBox{
	height:35px;
}
.submitButton{
	margin-top:10px;
	margin-left:48px
}
h1.account{
	margin-top:-11px;
	font-family: 'Roboto', serif;
	font-size:1.3em;
	color:grey;
	text-align:center;
}

#rightBanner{
	background: white;
	position:relative;
	height:370px;
	width:605px;
	top:0;
	left:315px;
	padding:2em;
	right:5px;
}

#bannerImage{
	position:relative;
	/*background:red;*/
	background-image: url(images/Hangers_Fullsize.jpg);
	background-repeat: no-repeat;
	background-position:center;
	background-size:100%;
	height:190px;
	width:100%;
	float:right;
	margin-top:17px;
	
}

h1.stop{
	color:lightgrey;
	font-family: 'Monoton', cursive;
	font-size:3em;
	font-weight:500;
	margin-bottom:0px;
	margin-top:25px;
}

h1.start{
	color:grey;
	font-family: 'Monoton', cursive;
	font-size:4em;
	margin-top:30px;
}

#signup-password {
    margin-left: 5px;   
}

.signup-password {
    border-radius: 3px !important;
    height: 35px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 108px !important;   
}

