# For security reasons, Option followsymlinks cannot be overridden.
#Options +FollowSymLinks
Options +SymLinksIfOwnerMatch
RewriteEngine On

RewriteRule ^!(.*)$ closet.php?user=$1

Redirect /smg /signup.php?beta=earlyaccess
