# For security reasons, Option followsymlinks cannot be overridden.
#Options +FollowSymLinks
Options +SymLinksIfOwnerMatch

# disallows a directory listing on directories that do not have an index file
Options -Indexes 

RewriteEngine On
RewriteRule ^@/(.*)$ clositt.php?user=$1
RewriteRule ^!/([a-z0-9\-]*)$ product-page.php?s=$1

# API
RewriteRule ^p/([a-z0-9]*)$ app/Controller/ProductController.php?method=$1
RewriteRule ^p/([a-z0-9]*)/([a-z0-9]*)$ app/Controller/ProductController.php?method=$1&page=$2

    #Filter Data
RewriteRule ^s/filters$ app/Data/filters.json

    #Browse
RewriteRule ^b/([a-z0-9]*)/([a-z0-9]*)$ app/Controller/ProductController.php?method=browse&customer=$1&page=$2

    #Tags
RewriteRule ^t/([a-z0-9]*)$ app/Controller/TagController.php?method=$1

    #Colors
RewriteRule ^c/([a-z0-9]*)$ app/Controller/ColorController.php?method=$1


# ADMIN API
RewriteRule ^spider/([a-z0-9]*)$ app/Controller/ProductAdminController.php?method=$1
RewriteRule ^spider/([a-z0-9]*)/([a-z0-9]*)$ app/Controller/ProductAdminController.php?method=$1&page=$2
RewriteRule ^notify$ scripts/admin/php/notify.php
Redirect /admin /scripts/admin/
Redirect /admin/spider /scripts/admin/php/productSpider.php
Redirect /admin/color /scripts/admin/php/colorProcessor.php
Redirect /admin/search /scripts/admin/php/search.php
Redirect /admin/tags /scripts/admin/php/tags.php
Redirect /admin/details /scripts/admin/php/productDetailSpider.php


# UNCOMMENT FOR PROD
#RewriteRule ^(.*)log$ /whoops.php

# ERROR CODES:
#400 - Bad Request
#401 - Unauthorized
#402 - Payment Required
#403 - Forbidden
#404 - Not Found
#405 - Method Not Allowed
#406 - Not Acceptable
#407 - Proxy Authentication Required
#408 - Request Timeout
#409 - Conflict
#410 - Gone
#411 - Length Required
#412 - Precondition Failed
#413 - Request Entity Too Large
#414 - Request-URI Too Long
#415 - Unsupported Media Type
#416 - Requested Range Not Satisfiable
#417 - Expectation Failed
#500 - Internal Server Error
#501 - Not Implemented
#502 - Bad Gateway
#503 - Service Unavailable
#504 - Gateway Timeout
#505 - HTTP Version

ErrorDocument 400 /whoops.php
#ErrorDocument 401 /whoops.php
ErrorDocument 402 /whoops.php
ErrorDocument 403 /whoops.php
ErrorDocument 404 /whoops.php
ErrorDocument 405 /whoops.php
ErrorDocument 406 /whoops.php
ErrorDocument 407 /whoops.php
ErrorDocument 408 /whoops.php
ErrorDocument 409 /whoops.php
ErrorDocument 410 /whoops.php
ErrorDocument 411 /whoops.php
ErrorDocument 412 /whoops.php
ErrorDocument 413 /whoops.php
ErrorDocument 414 /whoops.php
ErrorDocument 415 /whoops.php
ErrorDocument 416 /whoops.php
ErrorDocument 417 /whoops.php
ErrorDocument 500 /whoops.php
ErrorDocument 501 /whoops.php
ErrorDocument 502 /whoops.php
ErrorDocument 503 /whoops.php
ErrorDocument 504 /whoops.php
ErrorDocument 505 /whoops.php
