# For security reasons, Option followsymlinks cannot be overridden.
#Options +FollowSymLinks
Options +SymLinksIfOwnerMatch

# disallows a directory listing on directories that do not have an index file
Options -Indexes 

RewriteEngine On
RewriteRule ^clositt$ myclositt.php
RewriteRule ^track/([a-z]*)/([0-9]*)$ Router.php?classCode=s&method=trackemail&message=$1&user=$2

RewriteRule ^!\+/([0-9]*)/(.*)$ clositt.php?user=$1&closittname=$2
RewriteRule ^!\+/(.*)$ clositt.php?user=$1
RewriteRule ^!/(.*)$ product-page.php?s=$1
RewriteRule ^d/(.*)$ product-modal.php?s=$1

# Image
RewriteRule ^i/([A-Za-z0-9]*)$ Router.php?classCode=i&method=image&sku=$1

#Browse
RewriteRule ^b/([a-z0-9]*)/([a-z0-9]*)$ Router.php?classCode=b&method=browse&customer=$1&page=$2

RewriteRule ^([a-z]{1,2})/([a-z0-9]*)$ Router.php?classCode=$1&method=$2
RewriteRule ^([a-z]{1,2})/([a-z0-9]*)/([a-z0-9]*)$ Router.php?classCode=$1&method=$2&page=$3

RewriteRule ^([a-z]+)$ $1.php
RewriteRule ^([a-z]+).(html|HTML|phtml|PHTML|asp|ASP|jsp|JSP)$ $1.php




# ADMIN API
RewriteRule ^spider/([a-z0-9]*)$ Router.php?classCode=admin&method=$1
RewriteRule ^spider/([a-z0-9]*)/([a-z0-9]*)$ Router.php?classCode=admin&method=$1&page=$2
RewriteRule ^notify$ admin/php/notify.php


# UNCOMMENT FOR PROD
#RewriteRule ^(.*)log$ /whoops.php

# ERROR CODES:
#400 - Bad Request
#401 - Unauthorized
#402 - Payment Required
#403 - Forbidden
#404 - Not Found
#405 - Method Not Allowed
#406 - Not Acceptable
#407 - Proxy Authentication Required
#408 - Request Timeout
#409 - Conflict
#410 - Gone
#411 - Length Required
#412 - Precondition Failed
#413 - Request Entity Too Large
#414 - Request-URI Too Long
#415 - Unsupported Media Type
#416 - Requested Range Not Satisfiable
#417 - Expectation Failed
#500 - Internal Server Error
#501 - Not Implemented
#502 - Bad Gateway
#503 - Service Unavailable
#504 - Gateway Timeout
#505 - HTTP Version

ErrorDocument 400 /whoops.php
#ErrorDocument 401 /whoops.php
ErrorDocument 402 /whoops.php
ErrorDocument 403 /whoops.php
ErrorDocument 404 /whoops.php
ErrorDocument 405 /whoops.php
ErrorDocument 406 /whoops.php
ErrorDocument 407 /whoops.php
ErrorDocument 408 /whoops.php
ErrorDocument 409 /whoops.php
ErrorDocument 410 /whoops.php
ErrorDocument 411 /whoops.php
ErrorDocument 412 /whoops.php
ErrorDocument 413 /whoops.php
ErrorDocument 414 /whoops.php
ErrorDocument 415 /whoops.php
ErrorDocument 416 /whoops.php
ErrorDocument 417 /whoops.php
ErrorDocument 500 /whoops.php
ErrorDocument 501 /whoops.php
ErrorDocument 502 /whoops.php
ErrorDocument 503 /whoops.php
ErrorDocument 504 /whoops.php
ErrorDocument 505 /whoops.php
AddHandler application/x-httpd-php5s .php .html
