/*------------------------------------Fonts-----------------------------------*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Sintony:400,700);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700);
@import url(http://fonts.googleapis.com/css?family=Doppio+One:400);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500,700);
@import url(http://fonts.googleapis.com/css?family=Sanchez);
/*------------------------------------Fonts-----------------------------------*/



/*------------------------------------Reset-----------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
/* HTML5 display-role reset for older browsers */


article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
blockquote { quotes: none; }
blockquote:before, blockquote:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
dl, dt, dd, ol, ul, li { list-style: none; }
.clear { clear: both; }
a, a:hover { text-decoration: none; cursor: pointer;}
/*------------------------------------Reset-----------------------------------*/



body { font-size: 14px; color: #2b2e2f; font-family: 'Open Sans', sans-serif; margin: 0; padding: 0; }
.wrapper { margin: 0; padding: 60px 0 0; }
.container { position: relative; width: 100%; max-width: 1174px; }
img { max-width: 100%; }

a:active, a:focus { outline: none; }
/*--------------header-------------*/

#header { max-height: 70px; position: fixed; width: 100%; top: 0; z-index: 1001; background: #fff; padding: 0px 0px; -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, .10); -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, .10); box-shadow: 0px 1px 3px rgba(0, 0, 0, .10); border-top:5px solid #66ccff; overflow: hidden; }
#header .header-container { width: 100%; max-width: 90%; margin: 0 auto; }
#loginBtns span i {font-size: 24px; vertical-align: middle;}

#slider { margin: 0 0 0; }
.navbar-default { background: none; border: none; margin: 0; min-height: 60px; padding-top: 5px; }
.navbar-default .navbar-nav > li > a { color: #f44fa4; font-size: 14px; font-weight: 600; }
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus { color: #66ccff; font-weight: 600; }
.navbar-default .navbar-nav > .active > a { color: #2b2e2f; background: none; background-color: transparent; }
.navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus { color: #66ccff !important; background: none; background-color: transparent; }
.navbar-default .navbar-brand { color: #f44fa4; font-size: 31px; font-weight: 600; font-family: 'Open Sans', sans-serif; padding: 0px 15px; text-transform: uppercase; }
.navbar-default .navbar-brand:hover { color: #f44fa4; }
.navbar-default .search-btn { font-size: 16px; padding: 8px 9px; background: #f44fa4; border: none; color: #fff; }
.navbar-default .search-btn:hover { background: #f44fa4; border: none; color: #fff; }
.navbar-default .input-search { width: 450px; background: url(images/search_bg.png) no-repeat 8px 6px; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; border: 1px solid #f4f4f4; padding-left: 40px; font-weight: 400; font-size: 13px; }

.browse ul li{ float:left; display:block; padding:5px;}
.browse ul li .btn-group button.btn i{ font-size:24px; color:#66ccff; line-height:29px; vertical-align:middle } 
.browse ul li .btn-group button.btn i.icon-th-list{font-size:20px;}
.browse .browse_dropdown{ background-color: #fff;
    border: 1px solid #66ccff;
    border-radius: 4px;
    box-shadow:none;
   
    font-size: 14px;
    left: 0;
    list-style: none outside none;
    margin: 0;
    min-width: 160px;
    padding: 0px;
    position: absolute;
    text-align: left;
    top: 46px;
   }
.browse .btn-sm, .btn-group-sm > .btn {
    border-radius: 8px;
    font-size: 14px;
    line-height: 1.5;
    padding: 3px 15px ;
}

p.clositt-theme, span.clositt-theme, a.clositt-theme, h1.clositt-theme, h2.clositt-theme{
    color: #66ccff;
}

.panel-clositt-theme {
    border-color: #66ccff;
}

.panel-clositt-theme > .panel-heading {
    background-color: #66ccff;
    border-color: #66ccff;
    color: #FFFFFF;
}

.btn-clositt-theme{
    background-color: #66ccff;
    color: #fff;
}
.btn-clositt-theme:hover, .btn-clositt-theme:focus, .btn-clositt-theme:active{
    background-color: #55bbee;
    color: #fff;
}
.btn-default {
    background-color: #FFFFFF;
    border-color: #8cd9ff;
    color: #66ccff;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
   background-color: #FFFFFF;
    border-color: #8cd9ff;
    color: #66ccff;
}
.btn-group.open .dropdown-toggle {
    box-shadow:none;
}


/*--------------nav-------------*/

#nav { padding-top: 20px; }
#nav h4 { color: #66ccff; padding: 10px 0px; font-size: 14px; font-family: 'Source Sans Pro', sans-serif; font-weight: 600; }
#nav .nav ul { margin: 0; padding: 0; }
#nav .nav ul li { float: left; display: block; margin: 0; padding: 0; margin-right: 7px; }
#nav .nav ul li .nav-filter { display: block; font-family: 'Source Sans Pro', sans-serif; font-weight: 600; font-size: 14px; line-height: normal; color: #8cd9ff; padding: 8px 10px; margin-bottom: 4px; }
#nav .nav ul li .nav-filter:not([type=customer]) { width: 140px; border: 1px solid #8cd9ff; border-radius: 5px; text-align: left;}
#nav .nav ul li .nav-filter[type=customer] { text-align: center;}
.nav-filter:hover, .nav-filter:focus, .nav-filter:active, .nav-filter.active, .open > .dropdown-toggle.nav-filter { border: 1px solid #8cd9ff; background-color: transparent; background: none; }
#nav .nav ul li .nav-filter.customer.selected {
    background: none repeat scroll 0 0 #8cd9ff;
    color: #ffffff !important;
}

#nav .nav ul li .nav-filter span { font-size: 10px; position: absolute; right: 8px; top: 12px; color: #d0d0d0; }
#nav .nav ul li .btn-group.open .dropdown-toggle { box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; border-bottom: 1px solid #fff; border-radius: 5px 5px 0 0; z-index: 999; position: relative; background: #fff; }
#nav .nav ul li .btn-group.open .dropdown-toggle span { color: #66ccff; }
#nav .nav ul li .btn-group.open .dropdown-toggle span.icon-svg19:before { content: "\e60b"; }
#nav .nav ul li .btn-group.open .dropdown-menu { background: #fff; border-radius: 5px; margin: -9px 0 0; border: 1px solid #8cd9ff; padding-top: 10px; min-width: 140px; }
#nav .nav ul li .btn-group.open .dropdown-menu li { display: block; width: 100%; margin: 0; }
#nav .nav ul li .btn-group.open .dropdown-menu li a { display: block; }
#nav .nav ul li .btn-group.open .color-box li { width: 38px; height: 36px; float: left; margin: 4px; display: block; border: 1px solid #dfe1e1; }
#nav .nav ul li .btn-group.open .color-box li a { width: 36px; height: 34px; min-width: 0; padding: 0; }
#nav .nav ul li .btn-group.open .color-box li a.color-1 { background: #159f85; }
#nav .nav ul li .btn-group.open .color-box li a.color-2 { background: #053e51; }
#nav .nav ul li .btn-group.open .color-box li a.color-3 { background: #f44fa3; }
#nav .nav ul li .btn-group.open .color-box li a.color-4 { background: #2980b8; }
#nav .nav ul li .btn-group.open .color-box li a.color-5 { background: #f8ec31; }
#nav .nav ul li .btn-group.open .color-box li a.color-6 { background: #cccccc; }
#nav .nav ul li .btn-group.open .color-box li a.color-7 { background: #ffffff; }
#nav .nav ul li .btn-group.open .color-box li a.color-8 { background: #1f1f1f; }
#nav .nav ul li .btn-group.open .color-box li a.color-9 { background: #8a5e3b; }
#nav .nav ul li .btn-group.open .brand-box { min-width: 320px; margin: -5px 0 0 0; padding-bottom: 20px; border-radius: 0 5px 5px 5px; padding-top: 20px; }
#nav .nav ul li .btn-group.open .brand-box li { padding-left: 60px; margin-bottom: 0px; }
#nav .nav ul li .btn-group.open .brand-box li a { color: #888888; font-size: 14px; letter-spacing: 1px; font-weight: 600; font-family: 'Open Sans', sans-serif; padding: 6px 5px; margin-bottom: 5px; text-transform: uppercase; }
#nav .nav ul li .btn-group.open .brand-box li a:hover, #nav .nav ul li .btn-group.open .brand-box li a.active { background: #66ccff; color: #fff; border-radius: 5px; }
#nav .nav ul li .btn-group.open .brand-box li .input-search { width: 95%; background: url(images/search2.png) no-repeat 95% 8px; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; border: 1px solid #cccccc; padding-right: 40px; font-weight: 400; font-size: 13px; }
#nav .nav ul li .btn-group.open .brand-box li.alphabets { width: 38px; position: absolute; left: 0; top: 20px; border-right: 2px solid #ececec; padding: 0; }
#nav .nav ul li .btn-group.open .brand-box li.alphabets a { display: block; width: 100%; text-align: center; padding: 0; font-family: 'Source Sans Pro', sans-serif; font-weight: 600; margin-bottom: 0px; font-size: 14px; line-height: 18px; text-transform: uppercase; color: #66ccff; }
#nav .nav ul li .btn-group.open .brand-box li.alphabets a:hover { background: none; color: #66ccff; }
#nav .nav ul li .btn-group.open .brand-box li.alphabets .selected, #nav .nav ul li .btn-group.open .brand-box li.alphabets a:hover { color: #fff; background: #66ccff; border-radius: 10px; }
#nav .nav ul li .btn-group.open .brand-box li .search-results { width: 95%; max-height: 425px; margin-top: 10px; }
#nav .nav ul li .btn-group.open .brand-box li .search-results li { padding: 0; }
#nav .nav ul li .btn-group.open .brand-box li.brand-letter { border-bottom: 1px solid #ccc; color: #ccc; font-family: cursive, 'Open Sans', sans-serif; font-size: 20px; font-variant: small-caps; height: 26px; line-height: 20px; margin-bottom: 10px !important; }

#nav .tag { margin-bottom: 4px; }
#nav .tag span { background: #71c8f1; float: left; font-size: 13px; font-family: 'Source Sans Pro', sans-serif; font-weight: 600; color: #fff; padding: 5px 10px 5px 10px; border-radius: 5px; min-width: 80px; margin-right: 5px; }
#nav .tag span a { float: right; font-size: 8px; color: #3b8eba; margin-top: 3px; margin-left: 5px; }
.profile-drop .btn-default { width: 165px; display: block; font-weight: 600; font-family: 'Open Sans', sans-serif; font-size: 14px; line-height: normal; color: #2b2e2f; padding: 8px 10px; border: none; text-align: left; border-radius: 0px; }
.profile-drop .btn-default img { width: 36px; height: 36px; border-radius: 100%; border: 1px solid #cecfcf; vertical-align: middle; margin-right: 16px; }
.profile-drop .btn-default:hover, .profile-drop .btn-default:focus, .profile-drop .btn-default:active, .profile-drop .btn-default.active, .profile-drop .open > .dropdown-toggle.btn-default { border: none !important; background-color: transparent !important; background: none !important; box-shadow: none !important; -webkit-box-shadow: none !important; -moz-box-shadow: none !important; }
.profile-drop .dropdown-toggle { box-shadow: none !important; -webkit-box-shadow: none !important; -moz-box-shadow: none !important; background: none !important; }
.profile-drop .dropdown-menu { background: #cecfcf; border: none; margin: 4px 0 0; border-radius: 0 0 5px 5px; padding-top: 10px; font-weight: 600; font-family: 'Open Sans', sans-serif; font-size: 14px; }
.profile-drop .dropdown-menu li a { padding: 8px 15px; color: #fff; border-bottom: 1px solid #e1e1e1; }
.profile-drop .dropdown-menu li:last-child a { border: none; }
.profile-drop .dropdown-menu > li > a:hover, .profile-drop .dropdown-menu > li > a:focus { background: none; }
.my-clositt #nav h4 { color: #adadad; padding: 30px 0px; font-size: 60px; font-family: 'Open Sans', sans-serif; font-weight: 400; }
.my-clositt #nav .nav ul li .nav-filter { width: 130px; text-align: center; font-family: 'Open Sans', sans-serif; font-weight: 400; color: #da552f; border: 1px solid #da552f; }
.my-clositt #nav .nav ul li .disabled .nav-filter { color: #e1e1e1; border: 1px solid #e1e1e1; }
.clositt-inner { width: 100%; max-width: 940px; margin: 0 auto; }
.clositt-inner .panel-default { border: none; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; }
.clositt-inner .panel.closetPanel {overflow: visible }
.clositt-inner .panel-body { padding: 0; border: none !important; }
.clositt-inner .panel-default > .panel-heading { color: #adadad; font-size: 26px; font-family: 'Open Sans', sans-serif; font-weight: 400; margin-top: 60px; background-color: transparent; border-color: transparent; }
.clositt-inner .panel-default > .panel-heading .panel-title { color: #adadad; font-size: 26px; font-family: 'Open Sans', sans-serif; font-weight: 400; }
.clositt-inner .panel-default > .panel-heading .panel-title .closet-title { cursor: pointer; }
.clositt-inner .panel-default > .panel-heading .panel-title .badge { background: none repeat scroll 0 0 transparent; border: 1px solid #999; color: #999; font-size: 18px; margin-top: -4px; vertical-align: middle; }
    
.clositt-inner .panel-default > .panel-heading a { font-size: 14px; color: rgba(173,173,173,0.5); padding: 0 4px; vertical-align: middle; }
.clositt-inner .panel-default > .panel-heading a.collapse-btn { font-size: 7px; padding: 0 16px; }
.clositt-inner .panel-default > .panel-heading a.collapse-btn:hover { color: #f44fa4; }
.clositt-inner .panel-default > .panel-heading a.suffle-btn { color: #ecaa97; }
.clositt-inner .panel-default > .panel-heading .itemCount { margin-right: 16px; }
.clositt-inner .panel-default > .panel-heading a:hover { color: rgba(173,173,173,01); }
.wishlist { color: #adadad; padding: 60px 0px 80px; font-size: 40px; font-family: 'Open Sans', sans-serif; font-weight: 400; }
#nav .nav ul li .btn-group.open .filter-drop { min-width: 140px; padding-bottom: 5px; border-radius: 0 0px 5px 5px; padding-top: 5px; }

#nav .nav ul li .btn-group.open .filter-drop[filterType=category] { min-width: 250px; }
#nav .nav ul li .btn-group.open .filter-drop[filterType=category] .categoryItem > a { color: #999 }
#nav .nav ul li .btn-group.open .filter-drop[filterType=category] .categoryItem:last-child { border-bottom: none; }
#nav .nav ul li .btn-group.open .subcategoryItem .icon-svg19 {color: #aaa;font-size: 8px; position: relative; top: -2px; }
#nav .nav ul li .btn-group.open .subcategoryItem:hover .icon-svg19, #nav .nav ul li .btn-group.open .filter-drop[filterType=category] .categoryItem > a:hover {color: #fff; }

#nav .nav ul li .btn-group.open .filter-drop li { padding: 0 10px; }

#addclositt .modal-title, #editClosittModal .modal-title, #confirmRemoveClosittModal .modal-title { font-size: 24px; font-family: 'Open Sans', sans-serif; font-weight: 600; color: #adadad; }
#addclositt .modal-dialog, #editClosittModal .modal-dialog, #confirmRemoveClosittModal .modal-dialog { max-width: 380px; width: 100%; }
/*--------------box-------------*/




<!-------------------login and Signin---------------->




.modal.fade .modal-dialog2 { -webkit-transition: -webkit-transform .3s ease-out; -o-transition: -o-transform .3s ease-out; transition: transform .3s ease-out; -webkit-transform: translate3d(0, -25%, 0); -o-transform: translate3d(0, -25%, 0); transform: translate3d(0, -25%, 0); }
.modal.in .modal-dialog2 { -webkit-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.modal-open .modal { overflow-x: hidden; overflow-y: auto; }
.modal-dialog2 { position: relative; width: auto; margin: 10px; }
.modal-content2 { position: relative; background-color: #fff; -webkit-background-clip: padding-box; background-clip: padding-box; border: 0px solid #999; border-radius: 6px; outline: 0; -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5); box-shadow: 0 3px 9px rgba(0, 0, 0, .5); }
.nav-tabs { border-bottom: none; }
.modal .container { padding: 30px 30px 0; border-bottom: 5px solid #66ccff; border-radius: 6px; position: static;}
#productModal.modal .container{border-bottom:none;}
.modal-content { border-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2) #66ccff; border-radius: 6px; border-width: 1px 1px 5px; }


.modal-dialog2 { max-width: 467px; width:96%; max-height:500px; margin: auto; left:0; right:0; bottom:0; top:0; position: absolute; }
button.close2 { background: none repeat scroll 0 0 rgba(0, 0, 0, 0); border: 0 none; cursor: pointer; padding: 0; position: absolute; z-index: 999; right: 38px; top: 38px; }
.close-modal2 { width: 50px; height: 50px; border-radius: 100%; background: #66ccff; color: #fff; font-size: 30px; display: block; opacity: 1; text-align: center; vertical-align: middle; line-height: 50px; position: absolute; z-index: 999; top: 0; right: 0 }
#login_box .login { max-width: 400px; width:100%; margin: 0 auto }
#login_box .login h1 { margin-bottom: 20px; }

.modal h1, .modal .modal-title { color: #2a2a2a !important; font-size: 30px !important; text-align: center; font-weight: 700 !important; }
.modal-header {border-bottom: none;}
.modal-footer {border-top: none;}

p.log { color: #999999; font-size: 16px; text-align: center;font-weight: 600; line-height: 24px; }
.modal p.log { margin-top: 20px; margin-bottom: 15px; } 

.modal input[type="text"], .modal input[type="password"], .modal input[type="email"], .modal textarea { width: 100%; min-height: 47px; border-left: 4px solid #66ccff !important; border-radius: 4px; border: none; background: #eaedf2; margin-bottom: 18px; color: #565656; font-size: 17px; padding-left: 17px; }

.modal textarea { resize: none; }

#shareEmailMessage {margin-bottom: 5px; resize: none; }

#login_box .sub { width: 100%; min-height: 46px; padding: 3px 0px 25px 0px; }
#login_box .sub p { margin-top: 17px; color: #999999; font-size: 16px; font-weight: 600; }
#login_box .sub a { color: #66ccff ;font-weight: 600; }
#login_box .login input[type="submit"] { width: 125px; height: 46px; background: #66ccff; color: #ffffff; font-size: 18px; border-radius: 7px; border: none;  font-weight: 600; }
#login_box .border { background: url(images/login_border.png) repeat-x scroll; width: 100%; height: 2px; }
#login_box .register { text-align: center; padding: 26px 0px 30px 0px }
#login_box .register { color: #999999; font-size: 16px; font-weight: 600; }
#login_box .register a { color: #66ccff; font-size: 16px; text-transform: uppercase;font-weight: 700;  }
#login_box .login_sign_btn { position: absolute; top: -45px; left: 36px; }
#login_box .login_sign_btn ul { margin: 0; padding: 0 }
#login_box .login_sign_btn ul li { float: left; margin-right: 8px }
#login_box .login_sign_btn ul li a { color: #fff; background: #f44fa4; font-size: 18px; padding: 10px 24px; border-radius: 8px 8px 0px 0px; border:none !important;}
#login_box .login_sign_btn ul li a:hover { border:none !important;}
#login_box .login_sign_btn ul li.active a { color: #fff; background: #66ccff; border:none !important; }
#login_box .login_sign_btn ul li.active a:after { position:absolute; top:100%; left:0; right:0; margin:0 auto; display:table; content:""; width: 0; height: 0; border-style: solid; border-width: 7px 7px 0 7px; border-color: #66ccff transparent transparent transparent; }

.space { height: 10px; clear: both; display: block }

.create_new, .comments{
    background: #FFFFFF ;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow:none;
    min-width: 215px;
    max-width: 300px;
	padding:10px;
	border-bottom:5px solid #66cbff;
	position:absolute;
	top:50px;
	z-index:999;
	max-height: 300px;
}

#productModal .create_new{
    top:67px;
}
  
.create_new .addToClosetOptions{
    display: block;
    max-height: 225px;
    overflow: hidden;
}  

.comments{
    padding: 0;
}

.comments .review-comments{
    max-height: 165px;   
    display: block;
    overflow: hidden;
}
  
.create_new:before, .comments:before { background:url(images/drop-arrow.png) no-repeat left top; left:30px; top:-8px; height:8px; width:15px; position:absolute; content:""; display:table;  }
.comments:before{ left: 97px; }    
.create_new input[type="text"], .comments textarea{  width:80%; min-height:38px; border:1px solid #e1e1e1; padding-left:10px; border-radius:6px 0px 0px 6px; margin-bottom:13px; color:#424242; font-size:14px}
.comments textarea {border-radius: 6px 6px 0px 0px; font-size: 14px; height: 70px; line-height: 16px; padding: 10px; resize: none; width: 100%; margin-bottom:0px; border: medium none;}
.create_new a.create, .comments .addCommentBtn{display: block;float: right !important;text-align: center;width: 20% !important; min-height:38px !important; padding:9px; background:#f354a8; border-radius:0px 6px 6px 0px;}
.create_new a.create i, .comments .addCommentBtn i {color: #fff !important;font-size: 19px!important;}

.comments .addCommentBtn {float: none !important; background: #F5F5F5; height: 30px; width: 100% !important; border-radius: 0px; border-right: none !important;}

.comments .review-comments { margin: 5px 5px 5px 10px; } 
.comments .review-comments .review { margin: 0; border-bottom: 1px dotted #66ccff; width: 100%; padding: 10px 0;}
.comments .review-comments .review:first-child {padding-top: 5px}
.comments .review-comments .review:last-child {border-bottom: none; padding-bottom: 5px}
.comments .review-comments .review .review-user { font-weight: bold; font-size:12px; float:left; margin-right: 5px; background: none; color: #bdbdbd; }
.comments .review-comments .review .review-user a { display: inline; float: none; color: #bdbdbd; }
.comments .review-comments .review .review-text {font-size: 12px; line-height: 14px; color: #666; white-space: pre;}

a.ring_opt{ width:100% !important; border-right:0px !important; min-height:0px !important; border-radius: 10px; padding: 5px; float: left;}
a.ring_opt p{ color:#434343; font-size:13px; margin-left:8px}
a.ring_opt:hover, a.ring_opt:hover p{ color: #fff; background: #66ccff;}
.my_opt .ring{ width:12px; height:12px; background:#f354a8; border-radius:20px;} 
.my_opt .ring2{ width:12px; height:12px; background:#fff; border-radius:20px; border:2px solid #f354a8} 

.my_opt .customcheckbox.icon-check:before { color: #f354a8; left: -1px; position: relative; top: -5px;}
.my_opt .customcheckbox{ width:12px; height:12px; background:#fff; border-radius:0px; border:2px solid #f354a8; position: relative; top: 1px;} 

#subscribes h1 span {
  display: inline-block;
  position: relative;  
}
#subscribes h1 span:before,
#subscribes h1 span:after {
  content: "";
  position: absolute;
  height: 1px;
  border-bottom: 1px solid #f1f1e5;
  top: 49%;
  width: 76px;
}
#subscribes h1 span:before {
  right: 100%;
  margin-right: 20px;
}
#subscribes h1 span:after {
  left: 100%;
  margin-left: 20px;
}


@media (min-width: 1100px) {
.col-lg-box { width: 20%; padding-left: 7px; padding-right: 7px; }
.clositt-inner .col-lg-box { width: 25%; padding-left: 7px; padding-right: 7px; }
.box-row { margin-left: -7px; margin-right: -7px; }
.col-bx-2 { width: 20%; }
.col-bx-10 { width: 80%; }
}
.items .col-lg-box { min-height: 374px; padding-bottom: 10px !important; }
.items { margin-top: 26px; }
.items .box { padding-bottom: 40px; max-width: 300px; }
.items .item { border: 1px solid #d0d0d0; border-radius: 8px; background: #fff; position: relative; max-width: 225px; margin: 0 auto; }
.items .item-type2 { max-width: 270px; }
.items .item .mainwrap { background: #fff;  border-radius: 8px; position: relative;}
.items .item .imagewrap { width: 100%; border-radius: 8px 8px 0 0; height: 175px; text-align: center; overflow: hidden; position: relative; cursor: pointer; }
.items .item .imagewrap img { max-width: 100%; height: 100%; }
.items .item .detail { padding: 6px 8px 5px 8px; }
.items .item .detail h4 { color: #424242; font-size: 13px; font-weight: 400; line-height: 18px; font-family: 'Sintony', sans-serif; margin-bottom: 4px; display: block; height: 36px; overflow: hidden; }
.items .item .detail span.price { color: #424242; font-size: 16px; font-family: 'Doppio One'; font-weight: 400; margin-right: 4px; }
.items .item .detail del { color: #f44fa4; font-size: 16px; font-family: 'Doppio One'; font-weight: 400; }
.items .item .detail p { color: #adadad; font-size: 13px; margin-top: 0px; margin-bottom: 0px; font-family: 'Open Sans', sans-serif; line-height: normal; }
.items .item .cart_option { width: 100%; min-height: 40px; border-top: 1px solid #d0d0d0; position:relative; background: #FFF; border-radius: 0 0 8px 8px; z-index: 1}
.items .item .cart_option a { display: block; float: left; width: 33%; border-right: 1px solid #d0d0d0; text-align: center; min-height: 40px; text-decoration:none; position:relative; }
.items .item .cart_option a:last-child { border-right: none; }
.items .item .cart_option a i { font-size: 36px; color: #d0d0d0; }
.items .item .cart_option a i.message-icon { font-size: 22px; padding-top: 8px; display: block; }
.items .item .cart_option a i.dots-icon { font-size: 20px; padding-top: 7px; display: block; }
.items .item .cart_option a i:hover, .items .item .cart_option a i.hover { color: #f44fa4; }
.items .item .cart_option a i .badge { width: 9px; height: 9px; padding: 0; background: #66ccff; position: absolute; margin-left: -6px; margin-top: -2px; }
.items .item .hover_more { width: 100%; min-height: 39px; border: 1px solid #d0d0d0; border-top: none; border-radius: 0 0 8px 8px; position: absolute; bottom: 0px; -webkit-transition: all .3s ease-out .02s; -moz-transition: all .3s ease-out .02s; -o-transition: all .3s ease-out .02s; transition: all .3s ease-out .02s; }
.items .item .hover_more a, #product a.socialbtn { display: block; float: left; width: 12%; margin:10px 5px 0; text-align: center; }
.items .item .hover_more a i { font-size: 11px; color: #d0d0d0; z-index:-1; width:24px; height: 24px; line-height:22px; vertical-align:middle; border:1px solid #d0d0d0; border-radius:100%;  margin:0 auto; display:block; }
.items .item .hover_more a:hover i { background: #66ccff; color:#fff; border-color:#66ccff;}
.items .item .hover_more.open { bottom: -33px; }
.items .item-type2 .imagewrap { height: 320px; }
.items .item-type2 .detail h4 { font-size: 16px; }
.items .item-type2 .detail span.price { font-size: 19px; }
.items .item-type2 .detail .add-btn { color: #fff; font-size: 18px; font-weight: 600; font-family: 'Open Sans', sans-serif; padding: 5px 14px; text-transform: uppercase; min-width: 78px; height: 30px; background: #66ccff; border-radius: 5px; }
.items .item-type2 .uniform { position: absolute; padding-left: 10px; bottom: 14px; width: 100%; text-align: left; vertical-align: middle; color: #fff; font-size: 16px; font-weight: 400; line-height: normal; font-family: 'Sintony', sans-serif; }
.items .item-type2 .uniform img { max-width: none !important; width: auto !important; min-height: 0 !important; vertical-align: middle; margin-right: 8px; }
.items .item-type2:hover .mainwrap { background: #e1e1e1; cursor: pointer; }

.endResults { font-family: "Sanchez",serif; font-size: 18px; color: #333; margin: 20px 0 100px;}

.loadingImage {height: 35px !important; margin-top: 70px; width: 35px;}
.loader { margin: 80px 0; text-align: center; display: block; }
.loader i { font-size: 45px; color: #e5e5e5; -webkit-animation: spin 2s infinite linear; animation: spin 2s infinite linear; display: inline-block; }





.modal-dialog { width: 876px; }
.modal-dialog .modal-content { padding-bottom: 20px; }
.close-modal, .close>.icon-times  { width: 35px; height: 35px; border-radius: 100%; background: #66ccff; color: #fff; font-size: 20px; display: block; opacity: 1; text-align: center; vertical-align: middle; line-height: 35px; }

.close, .close:hover { filter: alpha(opacity=100); opacity: 1; }
.modal_close { margin: -18px -18px 0 0; }
.modal_close2 { position: absolute; top: -18px; right: -18px; }
.fa-spin { -webkit-animation: fa-spin 2s infinite linear; animation: fa-spin 2s infinite linear; }
@-webkit-keyframes spin {  0% {
 -webkit-transform: rotate(0deg);
 transform: rotate(0deg);
}
 100% {
 -webkit-transform: rotate(359deg);
 transform: rotate(359deg);
}
}
@keyframes spin {  0% {
 -webkit-transform: rotate(0deg);
 transform: rotate(0deg);
}
 100% {
 -webkit-transform: rotate(359deg);
 transform: rotate(359deg);
}
}
#footer { padding: 30px; position: relative; border-bottom:8px solid #66ccff; border-top: 1px dashed #ccc; }
#footer .foooter_logo { position: absolute; text-transform: uppercase; text-align: left; bottom: 8px; left: 10%; font-size: 14px; color: #1c1c1c; font-family: 'Source Sans Pro', sans-serif; font-weight: 700; min-width: 151px; }
#footer .foooter_logo span { color: #a0a0a0; text-transform: none; font-style: italic; font-weight: 400; }
#footer .footer_nav { width: 100%; text-align: center; }
#footer .footer_nav ul { margin: 0px auto; padding: 0px; display: block; max-width: 485px; }
#footer .footer_nav ul li { display: block; float: left; margin: 0px; padding: 0px; }
#footer .footer_nav ul li a { display: block; color: #b4b4b4; padding: 10px 40px 10px 16px; text-transform: uppercase; text-align: left; font-size: 12px; letter-spacing: 2px; font-family: 'Source Sans Pro', sans-serif; font-weight: 600; background: url(images/footer_nav_line.png) no-repeat right 6px; }
#footer .footer_nav ul li:last-child a { background: none !important }
#product { margin-top: 60px; }
#product .show_product { max-width: 408px; margin: 0 auto; }
#product .show_product .imagewrap { width: 100%; border-radius: 6px; text-align: center; border: 1px solid #e1e1e1; overflow: hidden; position: relative; min-height: 100px; }
#product .show_product .product-avail { position: absolute; right: 16px; bottom: 16px; }
#product .show_product .product-avail a { float: left; width: 40px; height: 40px; color: #fff; font-size: 19px; font-weight: 700; line-height: normal; font-family: 'Sintony', sans-serif; padding: 4px 0; border-radius: 5px; text-align: center; cursor: pointer; margin-left: 6px; line-height: 34px; vertical-align: middle; }
#product .show_product .product-avail a.quantity { background: #66ccff; }
#product .show_product .product-avail a.prod-type { background: #fff; border: 1px solid #e1e1e1; }
#product .show_product .product-avail a.prod-type i { font-size: 30px; color: #434343; }
#product .price_detail { width: 100%; }
#product .price_detail h4 { color: #424242; font-size: 21px; font-weight: 700; line-height: normal; font-family: 'Sintony', sans-serif; margin-bottom: 16px; }
#product .price_detail .product-category { margin: 0px 0px 20px 0px; vertical-align: middle; }
#product .price_detail .product-category img { display: inline-block; vertical-align: middle; }
#product .price_detail .product-category p { color: #424242; font-size: 19px; margin-left: 8px; display: inline-block; vertical-align: middle; line-height: normal; font-family: 'Sintony', sans-serif; font-weight: 400; }
#product .price_detail h1 { color: #424242; font-size: 32px; font-weight: 700; line-height: normal; font-family: 'Sintony', sans-serif; margin-bottom: 16px; }
#product .price_detail h1 span { color: #f455a6; font-weight: 400; }
#product .price_detail .size-color { padding: 20px 0px 20px 0px; border-top: 1px solid #CCC; border-bottom: 1px solid #CCC }
#product .price_detail .size-color .size a { float: left; min-width: 36px; max-width: 80px; height: 36px; color: #424242; font-size: 19px; font-weight: 400; line-height: normal; font-family: 'Sintony', sans-serif; padding: 4px 0; border: 1px solid #e1e1e1; border-radius: 5px; text-align: center; margin-right: 6px; cursor: pointer; overflow: hidden; }
#product .price_detail .size-color .size a:hover, #product .price_detail .size-color .size a.active { color: #fff; background: #66ccff; border: 1px solid #66ccff; }
#product .price_detail .size-color .color h2 { color: #424242; font-size: 19px; font-weight: 700; line-height: normal; font-family: 'Sintony', sans-serif; margin: 8px 10px 0px 0px; }
#product .price_detail .size-color .color a { float: left; width: 36px; height: 36px; border-radius: 5px; margin-right: 6px; }
#product .price_detail .size-color .color a.black { background: #000; }
#product .price_detail .size-color .color a.blue { background: #66ccff; }
#product .price_detail .size-color .color a.nblue { background: #223361; }
#product .price_detail .text { margin-top: 12px; }
#product .price_detail .text p { font-size: 14px; font-weight: 400; line-height: 25px; max-height: 220px; overflow: hidden; font-family: 'Sintony', sans-serif; color: #424242; margin: 0; padding: 0; text-align: left; }
#product h2.recommended { color: #adadad; font-size: 20px; font-family: 'Sintony', sans-serif; font-weight: 700; }
.items .item .cart_option a i.remove-prod { font-size: 20px; color: #ecaa97; margin-top: 8px; display: block; }
.items .item .cart_option a i.remove-prod-2 { color: #b2e5ff; }
.items .item .cart_option a i.remove-prod-3 { color: #f9aad2; }

#product .add-clositt { margin-top: 50px; position: relative; }
#product .add-clositt > a { float: left; color: #fff; font-size: 18px; font-family: 'Sintony', sans-serif; text-align: center; font-weight: 700; padding: 10px 16px; width: 48%; line-height: 40px; height: 60px; vertical-align: middle; border-radius: 10px; white-space: nowrap; }
#product .add-clositt > a span { font-size: 14px; font-weight: 400; }
#product .add-clositt > a i { font-size: 40px; color: #fff; float: left; }
#product .add-clositt > a.add-btn { background: #66ccff; }
#product .add-clositt > a.shop-btn { background: #f455a6; line-height: 100%; padding: 10px 16px; }
#product .add-clositt > a.shop-btn i { font-size: 20px; margin: -5px 5px 0 0; float: none; }
#product .likewrap { margin-top: 50px; }
#product .likewrap img { margin: 8px; }

#product a.socialbtn > i { font-size: 16px; color: #428bca; z-index:-1; width:29px; height: 29px; line-height:27px; vertical-align:middle; border:1px solid #428bca; border-radius:100%;  margin:0 auto; display:block; }
#product a.socialbtn > i:hover { background: #428bca; color:#fff; border-color:#428bca;}

.zoomContainer {
    position: fixed !important;
    z-index: 9999 !important;
}

.stButton .stFb, .stButton .stTwbutton, .stButton .stMainServices, .stButton .stButton_gradient { box-sizing: unset; }
.stButton .stBubble_count { padding-top: 5px !important; }
.stBubble { background-image: none !important; }


#product .product-slider { margin-top: 44px; width: 100%; min-width: 325px; border-radius: 6px; border: 1px solid #e1e1e1; padding: 70px 16px 15px 16px; position: relative; height: 223px; overflow: hidden }
#product .product-slider .slidewrap { width: 114px; height: 136px; border: 1px solid #e1e1e1; margin-left: 1px; }
#product .product-slider .slidewrap a { display: block; }
#product .product-slider .slidewrap a i { display: none; width: 44px; height: 44px; border-radius: 100%; background: rgba(0,0,0,0.90); text-align: center; line-height: 40px; vertical-align: middle; color: #fff; font-size: 20px; position: absolute; margin: auto; left: 0; top: 0; right: 0; bottom: 0; }
#product .product-slider .slidewrap a:hover i { display: block; }
#product .owl-nav { position: absolute; top: 0; width: 100%; height: 55px; border-bottom: 1px solid #e1e1e1; left: 0; }
#product .owl-nav i { font-size: 24px; padding: 0 20px; line-height: 55px; height: 55px; display: inline-block; margin-left: -1px; vertical-align: middle; color: #848484; border-left: 1px solid #e1e1e1; border-right: 1px solid #e1e1e1; }
#product .owl-nav .owl-prev { width: 50%; text-align: right; float: left; }
#product .owl-nav .owl-next { width: 50%; text-align: left; float: left }
#product .price-chat { margin-top: 44px; width: 100%; border-radius: 6px; border: 1px solid #e1e1e1; padding-bottom: 6px; position: relative; overflow: hidden; }
#product .price-chat h2 { padding: 15px 20px; border-bottom: 1px solid #e1e1e1; display: block; font-size: 19px; font-family: 'Sintony', sans-serif; font-weight: 700; color: #424242; }
#product .price-chat h2 i { font-size: 23px; margin-right: 5px; }
#subscribe { text-align: center; padding: 50px 0px; margin-top: 75px; position: relative }
#subscribe h2 { text-transform: uppercase; font-family: 'Source Sans Pro', sans-serif; font-weight: 600; color: #adadad; font-size: 21px; margin-bottom: 32px; letter-spacing: 2px; }
#subscribe input[type="email"] { max-width: 300px; width: 60%; height: 50px; background: #dfe1e1; color: #fff; border: 2px solid #f1f1e5; padding: 14px 18px; font-family: 'Source Sans Pro', sans-serif; font-weight: 400; color: #fff; font-size: 14px; outline: 0; margin-right: 12px; }
#subscribe input[type="submit"] { max-width: 140px; width: 40%; height: 50px; background: #db8470; border: 2px solid #f1f1e5; outline: 0; font-family: 'Source Sans Pro', sans-serif; font-weight: 400; color: #fff; font-size: 14px; }

#subscribes { background:url(images/footer.png) repeat #e0e2e2; text-align: center; padding: 50px 0px; margin-top: 75px; position: relative }
#subscribes h1 { color:#2b2e2f; font-size:32px; text-transform: uppercase; margin-bottom:20px;}
#subscribes p { color:#ffffff; font-size:16px; text-transform: uppercase; margin-bottom:20px; }
#subscribes h2 { text-transform: uppercase; font-family: 'Source Sans Pro', sans-serif; font-weight: 600; color: #fff; font-size: 21px; margin-bottom: 32px; letter-spacing: 2px; }
#subscribes input[type="email"] { max-width: 300px; width: 60%; height: 50px; background: #dfe1e1; color: #fff; border: 2px solid #f1f1e5; padding: 14px 18px; font-family: 'Source Sans Pro', sans-serif; font-weight: 400; color: #fff; font-size: 14px; outline: 0; margin-right: 12px; }
#subscribes input[type="submit"] { max-width: 140px; width: 40%; height: 50px; background: #f44fa4; border: 2px solid #f1f1e5; outline: 0; font-family: 'Source Sans Pro', sans-serif; font-weight: 400; color: #fff; font-size: 14px; }
#subscribes input[placeholder="Email address"]{ color:#fff}
.back_to_top { width: 60px; height: 57px; padding: 10px; position: absolute; top: -28px; text-align: center; right: 20%; background: #66ccff;  cursor: pointer }
#subscribes .social{  text-align:center; max-width:850px; width:100%; margin:0 auto; margin-bottom:140px;}
#subscribes .social ul li {  display:block; max-width:136px; width:100%; min-height:112px; margin:0 auto; float:left; }
#subscribes .social ul li.social_line {  display:block; max-width:100px; width:100%; min-height:112px; margin:0 auto; float:left; margin-top:27px; }
#subscribes .social ul li  a{ float:left; max-width:136px; width:100%; min-height:112px; text-align:center; color:#ffffff; font-size:14px; }
#subscribes .social ul li  a i{ color:#ffffff; font-size:20px;}
#subscribes .social ul li .icon_box{ max-width:73px; min-height:73px; text-align:center;background:#dfe1e1; border:3px solid #fff; border-radius:40px; margin:0 auto; padding-top:22px; margin-top:5px; }
#subscribes .social ul li .outer_box{max-width:87px; min-height:87px;background:#dfe1e1; border:2px solid #dfe1e1; border-radius:45px; text-align:center; margin:0 auto;margin-bottom:20px;}

#subscribes .social ul li  a:hover  .outer_box{max-width:87px; min-height:87px;background:#dfe1e1; border:2px solid #2b2e2f; border-radius:45px; text-align:center; margin:0 auto; margin-bottom:20px;}
#subscribes .social ul li  a:hover{ color:#2b2e2f} 
#subscribes .social ul li  a:hover i{color:#dfe1e1}
#subscribes .social ul li  a:hover .icon_box {background:#2b2e2f; border:3px solid #2b2e2f; }

.back_to_top a, .back_to_top a:hover { font-size: 30px; color: #fff; }
#product .pop_up { max-width: 879px; width: 100%; padding: 25px 15px 35px 15px; border: 1px solid #d0d0d0; border-radius: 6px; position: relative }
.pop_up_close { background: url(images/Pop_up_close.png) no-repeat scroll; background-position: top left; width: 48px; height: 48px; position: absolute; top: -19px; right: -19px; cursor: pointer }

.sliderwrap { background:url(images/newhomebanner.jpg) no-repeat center top; background-size:cover; min-height:511px; position:relative;  }
.sliderwrap h1 { font-size:76px; font-weight:700; color:#fff; text-transform:uppercase; text-align:center; padding-top:80px; display:block; }
.sliderwrap h2 { font-size:36px; font-weight:400; font-family: 'Sanchez', serif; color:#fff; text-align:center; padding-top:18px; display:block; }

.sliderwrap a.started { max-width:335px; width:80%; margin:100px auto 0; min-height:60px; padding:14px 20px; background:#67cdfe; border-bottom:5px solid #4cbef5; display:block; color:#fff; font-weight:400; font-size:22px; text-transform:uppercase; text-align:center; }
.sliderwrap a.started i { margin-right:6px;}
.sliderwrap a.nextstep { background:url(images/benner-arrow.png) no-repeat left top; width:90px; height:47px; position:absolute; left:0; right:0; bottom:0; margin:0 auto;}

 @media (max-width: 1200px) {
#header .header-container { max-width: none; }
 }
 
 @media (max-width: 1050px) and (min-width: 990px) {    
    .navbar-default .input-search { width: 375px; }
 }
 @media (max-width: 990px) {
#footer .foooter_logo { left: 0; }
.navbar-default .input-search { width: 315px; }
#header .header-container { max-width: none; }
#footer .footer_nav ul { margin: 0px 0 0 auto }
.navbar-default .navbar-toggle .icon-bar { background: #f44fa4; }
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus { background: #F3F3F3; }
.modal-dialog { width: auto; }
#productModal .modal-dialog { margin: 30px; }

}
 @media (max-width: 840px) and (min-width: 768px) {
 .container-fluid > .navbar-collapse { padding:0;}
 .browse .btn-sm, .btn-group-sm > .btn { padding:3px 10px;}
 .navbar-form { padding:0px 0;}
 }

 @media (max-width: 767px) {
    #nav .nav ul li .nav-filter { width: 125px; }
    #nav .nav ul li .btn-group.open .dropdown-menu { min-width: 125px; }
    #footer { padding: 30px 0; }
    #footer .foooter_logo { position: relative; }
    #footer .footer_nav ul li a { padding: 10px 40px 10px 0px; margin-right: 16px; }
    .navbar-form .form-group { float: left; }
    .navbar-form { margin-top: 0; margin-bottom: 0; border-top: none; }
    .navbar-default .input-search { width: 230px; margin-right: 10px; }
    .navbar-default .navbar-collapse.collapse.in .form-group { width: 90% }
    .navbar-default .navbar-collapse.collapse.in .input-search { width: 99% }
    #header { max-height: none; }
    #subscribe input[type="submit"] { width: 30%; }
    .profile-drop .dropdown-menu { position: static; background: none !important; float: none; width: auto; border: none; display: block; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; }
    .profile-drop .dropdown-menu li a { border-bottom: none; color: #2b2e2f; font-size: 14px; font-weight: 600; }
    .profile-drop .dropdown-menu li a:hover { color: #f44fa4; }
    
    #subscribes .social ul li{ margin-left:95px; margin-bottom:20px;}
    #subscribes .social ul li.social_line { display:none}
    .browse {margin-right:10px; padding:0;} 
    button.close2 {right: 8px; top: 8px;}
    #login_box .sub p { margin-top:0 ; margin-bottom:14px;}
}
 
@media (max-width: 600px) {
.items .box { max-width: none; }
}
@media (max-width: 480px) {
#product .add-clositt a { width: 100%; margin-bottom: 16px; }
}


.tooltip.in {
  opacity: 0.65 !important;
  filter: alpha(opacity=65) !important;
} 

.btn-danger {
    background-color: #f06a66;
    border-color: #f5605b;
}

.feedback{
    bottom: 30px;
    color: #333333;
    opacity: 0.3;
    position: fixed;
    right: -15px;
    width: 145px;
    z-index: 100;
}

.feedback:hover{
   opacity: 1;
}

.feedback .feedback-minimized-btn:before{
    content: url("images/handle-top.png");
    left: 0;
    position: relative;
    top: -30px;
}

.feedback .feedback-minimized-btn{
    background-color: #66ccff;
    bottom: 1px;
    color: #fff;
    height: 80px;
    position: absolute;
    right: 15px;
    width: 40px;
    font-size: 14px;
}   

.feedback .feedback-minimized-btn .rotate90{
    position: relative;
    top: 3px;   
}

.feedback .feedback-minimized-btn:hover, .feedback .feedback-minimized-btn:focus, .feedback .feedback-minimized-btn:active{
    background-color: #66ccff;
    color: #fff;
}

#feedbackMessage { max-width: 400px;  margin: 0 auto 10px;}

.rotate90 {
    /* Safari */
    -webkit-transform: rotate(-90deg);
    
    /* Firefox */
    -moz-transform: rotate(-90deg);
    
    /* IE */
    -ms-transform: rotate(-90deg);
    
    /* Opera */
    -o-transform: rotate(-90deg);
    
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}